<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" href="../auditor-nav-bar/auditor-nav-bar.component.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <i class='bx bx-sun icon'></i>
        <div class="logo_name">Auditing Block</div>
        <!-- <i class='bx bx-menu' id="btn" ></i> -->
    </div>
    <ul class="nav-list">
      <li>
        <a [routerLink]="['/','auditorHomePage']">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Auditor Dashboard</span>
        </a>
      </li>
      <li>
       <a [routerLink]="['/','loginPage']">
         <i class='bx bx-log-out' ></i>
         <span class="links_name">Logout</span>
       </a>
     </li>
     <!-- <li>
      <a [routerLink]="['/','nodesDetails']">
        <i class='bx bx-network-chart' ></i>
        <span class="links_name">Nodes</span>
      </a>
    </li> -->
     <li class="profile">
         <div class="profile-details">
          <!-- <i class='bx bx-cube-alt'></i>  -->
           <div class="name_job">
             <div class="name">Powered by Blockchain</div>
             <div class="job">Version: 1.0.0</div>
           </div>
         </div>
         <!-- <i class='bx bx-log-out' id="log_out" ></i> -->
     </li>
    </ul>
  </div>
  <!-- <section class="home-section">
      <div class="text">Main</div>
  </section> -->
  <!-- <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script> -->
</body>
</html>
